# Run the installed binaries and libraries through the full upstream test suite.
# TODO: We want TESTSUITE_NOSKIP=1 and skip ssh-plugin-test here
Test-Command: make -C ./tests -f Makefile.localtest -j tests CRYPTSETUP_PATH=/sbin
Depends: cryptsetup-bin,
# to compile tests/*.c
  gcc,
  libcryptsetup-dev,
  libdevmapper-dev,
#
# for hexdump(1)
  bsdextrautils,
# for dmsetup(8)
  dmsetup,
# for expect(1)
  expect,
# for jq(1)
  jq,
# for keyctl(1)
  keyutils,
# for modprobe(8) and rmmod(8)
  kmod,
# for free(1)
  procps,
# for uuencode(1)
  sharutils,
# for xxd(1)
  xxd
#
# Use machine-level isolation since some extra tests want to interact
# with the kernel, load modules, and create/remove loop devices
Restrictions: allow-stderr, needs-root, isolation-machine

# Run ./tests/ssh-plugin-test on its own since it has its own dependency set.
# TODO: Add TESTSUITE_NOSKIP=1 when https://gitlab.com/cryptsetup/cryptsetup/-/merge_requests/256
# lands in.
Test-Command: cd ./tests && CRYPTSETUP_PATH=/sbin RUN_SSH_PLUGIN_TEST=1 ./ssh-plugin-test
Depends: cryptsetup, netcat-openbsd, openssh-client, openssh-server, sshpass, openssl
Restrictions: needs-root, isolation-machine


Tests: cryptdisks, cryptdisks.init
Depends: cryptsetup, xxd
Restrictions: allow-stderr, needs-root, isolation-machine
